InventoryClient/src/conf/xml-resources/web-service-references/InventoryWebService/wsdl/localhost_8080/InventoryWebService/InventoryWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://inventory/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://inventory/" name="InventoryWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://inventory/" schemaLocation="http://localhost:8080/InventoryWebService/InventoryWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getInventory">
<part name="parameters" element="tns:getInventory"/>
</message>
<message name="getInventoryResponse">
<part name="parameters" element="tns:getInventoryResponse"/>
</message>
<message name="getItem">
<part name="parameters" element="tns:getItem"/>
</message>
<message name="getItemResponse">
<part name="parameters" element="tns:getItemResponse"/>
</message>
<message name="putItem">
<part name="parameters" element="tns:putItem"/>
</message>
<message name="putItemResponse">
<part name="parameters" element="tns:putItemResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="InventoryWebService">
<operation name="getInventory">
<input wsam:Action="http://inventory/InventoryWebService/getInventoryRequest" message="tns:getInventory"/>
<output wsam:Action="http://inventory/InventoryWebService/getInventoryResponse" message="tns:getInventoryResponse"/>
</operation>
<operation name="getItem">
<input wsam:Action="http://inventory/InventoryWebService/getItemRequest" message="tns:getItem"/>
<output wsam:Action="http://inventory/InventoryWebService/getItemResponse" message="tns:getItemResponse"/>
</operation>
<operation name="putItem">
<input wsam:Action="http://inventory/InventoryWebService/putItemRequest" message="tns:putItem"/>
<output wsam:Action="http://inventory/InventoryWebService/putItemResponse" message="tns:putItemResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://inventory/InventoryWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://inventory/InventoryWebService/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="InventoryWebServicePortBinding" type="tns:InventoryWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getInventory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="putItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="InventoryWebService">
<port name="InventoryWebServicePort" binding="tns:InventoryWebServicePortBinding">
<soap:address location="http://localhost:8080/InventoryWebService/InventoryWebService"/>
</port>
</service>
</definitions>